@font-face {
    font-family: 'YoungSerif';
    src: url('./fonts//YoungSerif-Regular.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'OutfitThin';
    src: url('./fonts//Outfit-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'OutfitExL';
    src: url('./fonts//Outfit-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'OutfitL';
    src: url('./fonts//Outfit-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('./fonts//Outfit-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OutfitM';
    src: url('./fonts//Outfit-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'OutfitS';
    src: url('./fonts//Outfit-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OutfitB';
    src: url('./fonts//Outfit-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OutfitEB';
    src: url('./fonts//Outfit-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'OutfitBlack';
    src: url('./fonts//Outfit-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

body{
    background-color: rgb(248, 238, 220);
    text-align: center;
    width: 900px;
    height: 1700px;
    display: grid;
    place-items: center;
    margin: auto;
    font-family: 'Outfit';
}

div.box{
    background-color: white;
    width: 700px;
    height: 1500px;
    border-radius: 20px;
    display: grid;
    place-items: left;
    margin: auto;
}

div.box2{
    background-color: rgb(255, 247, 252);
    width: 620px;
    height: 140px;
    border-radius: 20px;
    text-align: left;
    display: grid;
    margin: 5px auto;
}

li{
    padding-left:20px;
    text-align: left;
    margin: 10px 40px;
}

h1{
    text-align: left;
    margin: -10px 40px;
    font-family: 'YoungSerif', sans-serif;
}

h2{
    text-align: left;
    margin: auto 40px;
    font-weight: 500;
    font-family: 'YoungSerif', Times, serif;
    color: #7B4C3D;
}

h3{
    margin: 5px 40px;
    color: rgb(111, 47, 71);
}

p{
    text-align: left;
    margin: 1px 40px;
}

img{
    border-radius: 20px;
    height: 250px;
    width: 620px; 
    margin: 40px auto;
}

hr{
    margin: 20px 40px -10px 0;
}

ul li, ol li{
    margin-top: -5px;
}

table{
    border-collapse: collapse;
    margin: 0 40px 20px 40px;
}

td{
    padding: 5px;
    text-align: left;
}

tr{
    border-bottom: 1px solid #ddd;
}

tr:last-child{
    border: none;
}


tr:hover{
    background-color: #F8EEDC;
}

.left{
    font-weight: bolder;
    color: #84554C;
}

ol li::marker, ul li::marker{
    color: #7B4C3D;; 
}

li::marker{
    color: rgb(111, 47, 71);
}

span{
    font-weight: 400;
}